#contact-sections{
    max-width: 1440px; 
    width: 100%;
}

.section-title{
    color: #5988FF;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 50px;
   
}

.contact-info{
    color:#5988FF;
    font-size: 30px;
    font-weight: 400;
    &__text{
       color:black;
        font-size: 16px;
    }
    &__subtext{
        color:#5988FF;
        font-size: 16px;
        & span{
            font-weight: 700;
        }
    }
}

.submit-button{
    display: flex;
    justify-content: center;

}

.go-up-section{
    margin-top: 50px;
    & img{
        cursor: pointer;
    }
}

.form-control{
    border: 1px solid #5988FF;
}

.contact-bg{
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.contact-bg .circle{
  position: absolute;
  user-select: none;
}

.contact-bg .big{
  width: 280px;
  left: 220px;
  bottom: 80px;
}

.contact-bg .medium{
  width: 150px;
  top: 20px;
  left: 60%;
  transform: translateX(-50%);
}

.contact-bg .small{
  width: 100px;
  right: 80px;
  bottom: 20px;
}

#contact .container{
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 991px) {
    .contact-bg .big{
        display: none;
    }
    .contact-title-section{
        margin-top: 80px;
    }
    .contact-bg .medium{
        left: 70%;
        width: 100px;
    }
    .contact-bg .small{
        width: 70px;
        right: 40px;
}
}

@media screen and (max-width: 576px) {
    .section-title{
        font-size: 50px;      
    }
    .section-subtitle{
        font-size: 21px;  
           
    }
}