#contact-sections{
    max-width: 1440px; 
    width: 100%;
}

.section-title{
    color: #5988FF;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 50px;
    font-family: 'Baloo 2';
   
}

.form-control, .form-check-label{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
}

.contact-info{
    color:#5988FF;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat';
    &__text{
       color:#000000;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Montserrat';
    }
    &__subtext{
        color:#5988FF;
        font-size: 18px;
        font-family: 'Poppins';
        font-weight: 400;
        & span{
            font-weight: 700;
        }
    }
}

.form-control{
  border-width: 2px; 
}
.form-control.is-invalid{
  border-width: 2px; 
  background-image: none; 
  padding-right: .75rem;  
}


.error-slot{
  min-height: 30px; 
  margin-top: 6px;
}

.error{
  margin: 0;
  font-size: 14px;
  color: #d40000;
  line-height: 20px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #000; // kendi rengin neyse
  transition: background-color 9999s ease-in-out 0s; // sarıyı bastırır
  box-shadow: 0 0 0px 1000px #fff inset; // input bg rengine göre ayarla
}
.feedback-slot{ min-height: 18px; margin-top: 10px; }
.ok{ margin:0; color:#0a7a28; font-size:14px; }
.bad{ margin:0; color:#d40000; font-size:14px; }


.submit-button{
    display: flex;
    justify-content: center;

}

.go-up-section{
    margin-top: 50px;
    & img{
        cursor: pointer;
    }
}

.form-control{
    border: 1px solid #5988FF;
}

.contact-bg{
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.contact-bg .circle{
  position: absolute;
  user-select: none;
}

.contact-bg .big{
  width: 280px;
  left: 220px;
  bottom: 80px;
}

.contact-bg .medium{
  width: 150px;
  top: 20px;
  left: 60%;
  transform: translateX(-50%);
}

.contact-bg .small{
  width: 100px;
  right: 80px;
  bottom: 20px;
}

#contact .container{
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 1700px) {
   .contact-bg .big{
  width: 280px;
  left: 220px;
  bottom: 155px;
}
 
}

@media screen and (max-width: 991px) {
    .contact-bg .big{
        display: none;
    }
    .contact-title-section{
        margin-top: 80px;
    }
    .contact-bg .medium{
        left: 70%;
        width: 100px;
    }
    .contact-bg .small{
        width: 70px;
        right: 40px;
}
}

@media screen and (max-width: 576px) {
    .section-title{
        font-size: 35px;      
    }
    .contact-info{
        font-size: 25px; 
    &__text{
        font-size: 16px;
    }
    &__subtext{
        font-size: 16px;
    }
    } 
    .section-subtitle{
        font-size: 21px;  
           
    }
}