.legal-section{
    max-width: 1300px;
    width: 100%;
        padding: 0px 40px;
}
#legal{
    padding: 40px 0px 80px;
    position: relative;
    overflow: hidden;
}

.legal__title{
    font-size: 70px !important;
    color: #5988FF;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: 'Baloo 2';
}

.legal__content {
   & h2{
     font-size: 30px ;
     color: #5988FF;
    font-weight: 700;
    font-family: 'Montserrat';
     overflow-wrap: anywhere;   // modern çözüm
  word-break: break-word;    // ek garanti
  hyphens: auto;  
  margin-top: 50px; 

   }
   & p{
     font-size: 18px ;
    text-align: justify;
        font-weight: 400;
    font-family: 'Montserrat';
    margin-top: 20px;
   }
   & span{
     font-size: 18px ;
    text-align: justify;
        font-weight: 400;
    font-family: 'Montserrat';
    margin-top: 20px;
   }
   & h4{
     font-size: 30px ;
     color: #5988FF;
   }
}

.back-row{
  display: none;
  cursor: pointer; 
  margin-top: 20px; 
  margin-bottom: 20px;
}

.legal-bg{
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.legal-bg .circle-big{
  position: absolute;
  width: 120px;          
  right: 50px;           
  top: 77px;             
  user-select: none;
}
.legal-bg .circle-small{
  position: absolute;
  width: 60px;          
  right: 0px;           
  top: 425px;             
  user-select: none;
}
.legal-bg .circle-mid{
  position: absolute;
  width: 80px;          
  left: 0px;           
  bottom: 425px;             
  user-select: none;
}

@media screen and (max-width: 991px) {
  .back-row{
    display: block;
  }
  .legal-bg .circle-big, .legal-bg .circle-mid, .legal-bg .circle-small{
    display: none;
  }
}

@media screen and (max-width: 767px) {
    .legal__title{
      font-size: 50px !important;
    }
        .legal__content > h2{
      margin-top: 30px;
    }
}

@media screen and (max-width: 576px) {
      .legal__title{
      font-size: 40px !important;
    }
    .legal__content > p{
      font-size: 15px !important;
    }
    .legal__content > span{
      font-size: 15px !important;
    }
}

@media screen and (max-width: 350px) {
   .legal__content > h2{
    font-size: 24px !important;
   }
}