#navbar {
   background-color: none !important; 
}

.navbar-container {
    max-width: 1440px;
    width: 100%;
    padding: 0 2rem;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-size: 25px;
    color: #5988FF;
    font-family: 'Montserrat';
    font-weight: 400;
    transition: transform 0.35s ease, opacity 0.25s ease;
}

.nav-link_active{
    font-weight: 700;
}

.nav-link:hover{
    transform: scale(1.08);
    opacity: 1;
    font-weight: 500;
    color: #0043F0;
}


.navbar-toggler {
  border-color: #5988FF; 
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(13,110,253, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.navbar-container {
    max-width: 1440px;
    width: 100%;
}

.logo {
    max-width: 90px;
}

.span {
    font-size: 25px;
    color: #5988FF;
}

@media screen and (max-width:991px) {
    .navbar-collapse {
        display: flex;
        justify-content: center;
    }

    #navbarNav.collapse:not(.show) {
        display: none !important;
        visibility: hidden !important;
        opacity: 0 !important;
    }

    #navbarNav.collapse.show {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
        padding: 40px 0px;
    }
    .nav-link{
        text-align: center;
    }
}