.navbar-collapse {
    justify-content: flex-end;
}

.nav-item{
    margin-left: 2rem;
}

.nav-link{
    font-size: 25px;
    color: #5988FF;
}
.navbar-container{
    max-width: 1440px;
    width: 100%;
}

.logo{
   max-width: 90px;
}
.span{
    font-size: 25px;
    color: #5988FF;
}