.friends-section{
    max-width: 1440px;
    width: 100%;
}

.section-title{
    color: white;
    font-size: 70px;
    font-weight: 800;
    font-family: 'Baloo 2';
    &__subtitle{
        color: white;
        font-size: 30px;
        font-weight: 400;
        margin-top: 10px;
         font-family: 'Montserrat';
    }
}

.friend-cards{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
}

.friend-cards-div{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.friend-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 315px;
    width: 100%;
    height: 100%;
    
    &__title{
        width: 100%;
        min-height: 65px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    &__name{
        color: white;
        font-size: 23px;
        font-weight: 700;
        font-family: 'Montserrat';
        margin: 0;
        line-height: 1.2;
    }

    &__position{
        color: #EAF0FF;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Montserrat';
        margin: 8px 0 0 0;
        line-height: 1.2;
    }

    &__quote{
        color: #EAF0FF;
        font-size: 16px;
        margin-top: 18px;
        text-align: center;
        font-weight: 400;
        font-family: 'Montserrat';
    }
}

@media screen and (max-width: 991px) {
    .friend-cards{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
}

@media screen and (max-width: 576px) {
    .section-title{
        font-size: 35px;      
    }
    .section-title__subtitle{
        font-size: 20px;  
    }
}
@media screen and (max-width: 376px) {
    .section-title{
        font-size: 30px;      
    }
    .section-title__subtitle{
        font-size: 18px;  
    }
    .friend-card__quote{
        text-align: center;
    }
}