.skills-section{
    max-width: 1200px;
    width: 100%;
}

.section-title{
    color: white;
    font-size: 70px;
    font-weight: 800;
    font-family: 'Baloo 2';
}
.icon-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 120px;
    & img {
        transition: all 0.1s ease-in;
    }
    & span{
        color: #FFFFFF;
        font-weight: 400;
        font-family: 'Montserrat';
          display: block;
  text-align: center;
    line-height: 1.2;
  min-height: calc(1.2em * 2)
    }

}
.icon-div img:hover{
   transform: translateY(-15px); 
}

.icon-div:hover span{
    font-weight: 700;
}

.skills-grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
}

@media (max-width: 576px) {
    .section-title{
        font-size: 35px;
    }
    .skills-grid-container{
         gap: 70px;
    }
}
@media (max-width: 376px) {
    .section-title{
        font-size: 30px;
    }
}