.skills-section{
    max-width: 1200px;
    width: 100%;
}

.section-title{
    color: white;
    font-size: 70px;
    font-weight: 700;
}
.icon-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    & span{
        color: white;
    }
}
.skills-grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
}

@media (max-width: 576px) {
    .section-title{
        font-size: 50px;
    }
}