<div class="container">
  <div class="row align-items hero-section">

    <!-- SOL: Fotoğraf -->
    <div class="col-lg-6 text-center d-flex position-relative hero-img-col">
      <div class="hero-circle"></div>
      <img src="img/Hero/serhat-2.png" alt="Serhat" class="img-fluid hero-img"> 
      <div class="hero-scroll">
        <img src="img/Hero/scroll-down.png" alt="Scroll-down" class="">
      </div>
    </div>

    <!-- SAĞ: Metin -->
    <div class="right-section col-lg-6 text-center text-lg-start mt-4 mt-lg-0">
      <div class="right-section__up">
        <p class="right-section__subtitle">{{'HERO.SUBTITLE' | translate}}</p>
        <h1 class="right-section__title">
          <span class="letters" aria-label="FRONTEND DEVELOPER">
            @for (item of line1; track $index) {
              <span>{{item}}</span>
            } <br>
            @for (item2 of line2; track $index) {
              <span>{{item2}}</span>
            } 
          </span>
        </h1>
      </div>
      <div class="right-section__down">
        <!-- Scroll line -->
        <div class="right-section__down--left">
          <span></span>
          <img src="" alt="">
        </div>
        <!-- Scroll line -->
        <div class="right-section__down--left">
          <span>SCROLL</span>
          <img src="img/Hero/line.png" alt="line">
        </div>
        <!-- icon -->
        <div class="right-section__down--right">
          <a href="https://github.com/serhat-ozcakir" target="_blank"><img src="img/icon/github.png" alt="Github"></a>
          <a href="mailto:serhatozcakir35@example.com" target="_blank"><img src="img/icon/email.png" alt="Email"></a>
          <a href="https://www.linkedin.com/in/serhat-%C3%B6z%C3%A7ak%C4%B1r/" target="_blank"><img
              src="img/icon/linkedln.png" alt="LinkedIn"></a>
        </div>
      </div>
    </div>

  </div>
</div>