.right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;



  &__subtitle {
    font-size: 36px;
    color: #5988FF;
    margin-bottom: 10px;
     font-family: 'Montserrat';
     font-weight: 400;
  }

  &__title {
    font-size: 70px;
    line-height: 1.05;
    color: #5988FF;
    font-family: 'Baloo 2';
    font-weight: 800;
  }

  &__up{
    margin-top: 100px;
    padding-left: 10px;
  }

  &__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;

    &--left {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      span {
        font-size: 15px;
        color: #5988FF;
        letter-spacing: 2px;
         font-family: 'Montserrat';
         font-weight: 500;
      }

      img {
        height: 250px;
        transform-origin: top;
        animation: scrollLine 1.2s ease-in-out infinite;
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      gap: 30px;

      img {
        width: 26px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}

.hero-section{
  min-height: calc(100vh - 100px);
}

@keyframes scrollLine{
  0%   { transform: scaleY(0); opacity: .2; }
  100% { transform: scaleY(1); opacity: 1; }
}

.hero-scroll{
  display: none;
}

.letters span{
  display: inline-block;              
  transition: transform .18s ease, 
  color .18s ease,  text-shadow .18s ease;
  will-change: transform;
}

.letters span:hover{
  transform: translateY(-15px);
  color: #0043F0;                     
  text-shadow: 0 10px 18px rgba(89,136,255,.25);
}




@media (max-width: 991px) {

  .right-section__subtitle{
    color: white;
  }
  .right-section__title{
    color: white;
  }
  .right-section__up{
    padding-left: 0px;
  }
  .hero-scroll{
    display: flex;
    align-items: flex-end;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(-15px);
    }
  }
  .hero-section{
    flex-direction: column-reverse;
  }
  .right-section__down{
    display: none;
  }
}

@media (max-width: 576px) {
  .right-section__title {
    font-size: 47px;
  }

  .right-section__subtitle {
    font-size: 23px;
  }
}