.about-section{
    max-width: 1440px;
    width: 100%;
}

.about__left {

    &--title--text {
        font-size: 70px;
        font-weight: 700;
        color: #5988FF;
        text-align: justify;
         line-height: 1;
    }

    &--text-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
        font-size: 30px;
        color: #5988FF;
        font-weight: 700;
        }
     
    }

    &--text-section__icon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--div {
            display: flex;
        }
        &--div img{
            height: 30px;
            margin-right: 10px;
        }
        &--div p{
            font-size: 15px;
            margin-right: 10px;
            color: #5988FF;
            line-height: 1.2;
        }
    }
}

.about__right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    height: 100%;
    justify-content: space-around;
    &--text p {
        font-size: 16px;

        text-align: justify;
        
    }
}